{% extends 'pandasdemo/index.html' %} {% load static %} {% block content %}
<div style="margin-left: 1em">
  <br />
  <a
    href="{% url 'ethanolmenu' %}"
    button
    type="button"
    class="btn btn-outline-danger"
    >Go Back</a
  >
  <h1 class="mt-4">Ethanol Exporter Wise Report</h1>

  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Business Analytics</li>
  </ol>

  <h5>Select a Year, Month and Submit</h5>
  <form action="" method="post">
    {% csrf_token %}
    <select
      style="width: 250px"
      class="form-select"
      name="analysis10y"
      aria-label="analysis10y"
    >
      {% for a in year_dropdown %}

      <option value="{{  a }}">{{ a }}</option>

      {% endfor %}
    </select>
    <br />
    <select
      style="width: 250px"
      class="form-select"
      name="analysis10m"
      aria-label="analysis10m"
    >
      {% for b in month_dropdown %}

      <option value="{{  b }}">{{ b }}</option>

      {% endfor %}
    </select>

    <input type="submit" value="Submit" />
  </form>

  <br />
  <div class="alert alert-danger" role="alert">
    <h6>
      SELECTED YEAR:
      <span class="badge bg-secondary"
        >{{selected_month}} {{selected_year}}</span
      >
    </h6>
  </div>

  {{ df_exporter_m |safe}}
</div>
{% endblock %}
